*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #D9AFD9;
    background-image: linear-gradient(-70deg, #D9AFD9 0%, #97D9E1 100%);
    
}
.group{
    padding: 40px 80px;
    margin: 50px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    transition: all .5s;
}
.group:hover{
    transform: scale(1.02);
}
.group h1{
    color: #2d3436;
}
.group h5{
    color: #535c68;
}
.form-control{
    border: 2px solid #2d3436;
    background-color: transparent;
    outline: none;
}